h2,h3,p{
  margin: 0;
}

.Calendar_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 1rem;
  overflow: hidden;

  background-color: #333;
  box-shadow: 1px 1px 10px rgb(0, 0,0, 65%);
  padding-bottom: 1rem;

  min-height: 15rem;
}

.Calendar_bg{
  color:white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-image: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

}

.Calendar_bg h2,
.Calendar_bg h3{
  margin: 0;
}

.calendar__Details{
  backdrop-filter: blur(1px);
  padding: 0.5rem;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.Time{
  font-size: 1.5rem;
}


.Calendar_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.weeks_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.week{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
}


.Days_container{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(4,1fr);
  place-items: center;
  row-gap: 5px;
}

.day{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width:  1rem;
  font-size: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.day:hover{
  background-color: #4d4d4d  ;
  color: #ffff;
}

.active{
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(144, 202, 249);
}

.active:hover{
  will-change: background-color;
  color:black;
    background-color: rgb(66, 165, 245);
}

.SelectedDay{
  background-color: #575757  ;
  color: #ffff;
}



.date_picker h2 i {
  padding: 0 1rem;
}
.date_picker {
  top: 60px;
  bottom: 0;
  background-color: #1e1e1f;
  color: #e0e0e0;
  padding: 20px;
  position: sticky;
  height: 20rem;
  margin-bottom: 0;
  z-index: 1;
  border-radius: 20px;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 870px) {
  .date_picker{
    position: absolute;
        width: max-content;
        left: 6rem;
        top: 30%;
        box-shadow: inset 0 0 10px 0px rgb(105 147 161);
  }
}

@media (max-width: 450px) {
  .date_picker{
    right: 5%;
    left: unset;
    box-shadow: inset 0 0 10px 0px rgb(105 147 161);
    top: 10rem;
  }
}