


.nav_bar {
    top: 60px;
    bottom: 0;
    background-color: #1e1e1f;
    color: #e0e0e0;
    padding: 20px;
    position: sticky;
    margin-bottom: 0;
    z-index: 1;
    border-radius: 20px;

    width: 10rem;
    left: 0;
    height: max-content;
}


.nav_bar h2,
.date_picker h2 {
    color: hsl(45, 100%, 72%);
}

.nav_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.nav_bar ul li {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.Link{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.IconImage{
    border-radius: 50%;
}

.IconImage img{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    height: 20px;
    width: 20px;
}

.Link p{
    margin: 0;
}

.nav_bar ul li:hover .IconImage,
.activeNavBar{
    background-color: #4e4e4e;
}

.nav_bar ul li a {
    color: #e0e0e0;
    text-decoration: none;
}

.nav_bar ul li a:hover {
    text-decoration: underline;
}



@media (max-width:1100px) {
    .nav_bar{
        width: unset !important;
    }
}

@media (max-width: 450px) {
    .nav_bar{
        position: relative;
        margin-bottom: 4rem;
    }
    .nav_bar ul{
      flex-direction: row;
      height: max-content;
    }
  }