
.Selectors {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(2, 4rem); */
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.btn {
    list-style:none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: inset 0px 1px 3px 1px rgb(121 121 121);

    word-wrap: break-word;
    max-width: 126rem;
    word-break: break-all;
      
}


.btn:hover,
.activeBtn {
    box-shadow: 1px 5px 7px 1px rgb(62 62 62 / 78%);
    background: hsl(45, 100%, 72%);
    color: black;
    font-weight: bold;
}

.Selectors a{
    margin-bottom: 1rem;
}