html {
    height: 100%;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color for readability */
}

h2, h3, p,h4 {
    margin: 0;
}




.middle_column {
    background-color: #1e1e1f;
    padding: 1rem;
    flex-grow: 1;
    border-radius: 20px;
}

.middle_column img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.highlighted_content {
    position: relative;
    background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    z-index: 1;
    color: hsl(45, 100%, 72%);
}

.highlighted_content h2 {
    margin: 0;
    font-size: 1.5em;
}

.highlighted_content p {
    margin: 5px 0;
}

.time_stamps {
    margin-bottom: 20px;
}

.time_stamps .time_row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.time_row {
    margin: 1rem 0;
    height: 4rem;
}

.time_row p {
    position: relative;
    height: fit-content;
}

.time_row p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: hsl(45, 100%, 72%);
}

.time_stamps .time_row:last_child {
    border-bottom: none;
}

.tasks,
.notes,
.attachments {
    margin-bottom: 20px;
}

.tasks h3,
.notes h3,
.attachments h3 {
    margin: 0;
    font-size: 1.2em;
    color: hsl(45, 100%, 72%);
}

.title_section {
    position: relative;
    border-radius: 16px;
    margin: 20px;
    box-shadow: 0 0 12px 2px #000000;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.title_section:hover {
    transform: scale(1.02);
}

.overlay {
    border-radius: 16px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.current_date,
.current_time {
    font-size: 20px;
    font-weight: 500;
    color: hsl(45, 100%, 72%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.class_info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.current_class,
.next_class {
    width: 48%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 6px 2px #000000;
}

.current_class h3,
.next_class h3 {
    margin: 0;
    font-size: 1.4em;
    font-weight: 600;
    color: hsl(45, 100%, 72%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.current_class p,
.next_class p {
    margin: 5px 0;
    font-size: 1.1em;
}

strong {
    color: #e0e0e0;
}

@media (max-width: 900px) {
    .class_info {
        flex-direction: column;
        align-items: center;
    }

    .current_class,
    .next_class {
        width: 90%;
        margin-bottom: 20px;
    }

    .next_class {
        margin-bottom: 0;
    }

    .current_date,
    .current_time {
        font-size: unset;
    }
}

.timeline {
    margin-bottom: 30px;
}

.timeline .title_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.timeline_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timeline_item p {
    text-align: justify;
    margin:0;
}

.timeline_item {
    position: relative;
    list-style: none;
    border-radius: 1rem;
    padding: 10px;
}

.timeline_item_title {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-color: hsl(45, 100%, 72%);
    margin: 0;
}

.highlight_span span {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.timeline_item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: hsl(0, 0%, 22%);
}

.timeline_item::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: hsl(45, 100%, 72%);
    border-radius: 50%;
    box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

.timeline_text {
    color: #878787;
    font-weight: 300;
    line-height: 1.6;
}

.active_class {
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 68%);
}

.timeline_item:hover {
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 68%);
}

.timeline_item:hover::after,
.active_class::after {
    background: hsl(45deg 100% 50%);
    box-shadow: 0 0 7px 2px hsl(44.94deg 100% 50%);
}
.timeline_item:hover::before,
.active_class::before {
    background: hsl(42deg 38.57% 49.27%) !important;
}


.break{
    padding: 0 10px;
    background-image: url(/src/assets/Images/mesh.png);
    text-align: center;
    font-weight: bold;
    color: hsl(45, 100%, 72%);
    border-radius: 2rem;
}


.Group_Section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
}
.Group_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Group_List{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid hsl(45, 100%, 72%);
    border-radius: 1rem;
    overflow: hidden;
    width: 8rem;
    justify-content: center;
}

.Group_Item{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.active_group{
    box-shadow: 1px 5px 7px 1px rgb(62 62 62 / 78%);
    background: hsl(45, 100%, 72%);
    color: black;
    font-weight: bold;
}