hr{
    width: 100%;
}

.container {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    background: #1e1e1f;
    padding: 1rem;
    border-radius: 1rem;
}

.Selectors {
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,4rem);
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.btn {
    list-style:none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: inset 0px 1px 3px 1px rgb(121 121 121);
      
}


.btn:hover,
.activeBtn {
    box-shadow: 1px 5px 7px 1px rgb(62 62 62 / 78%);
    background: hsl(45, 100%, 72%);
    color: black;
    font-weight: bold;
}

.title {
    margin-bottom: 20px;
}

.title h2 {
    color: hsl(45, 100%, 72%);
    text-decoration: underline;
}

.title h4 {
    color: #888;
}

.timeline {
    position: relative;
    padding-left: 40px;
}

.timeline_item {
    margin-bottom: 30px;
    position: relative;
}

.timeline_item::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -30px;
    width: 1px;
    height: calc(100% + 35px);
    background: hsl(0, 0%, 22%);
}

.timeline_item::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: hsl(45, 100%, 72%);
    border-radius: 50%;
    box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

/* Unit Heading */
.subject_container h3 {
    color: hsl(45, 100%, 72%);
    margin-bottom: 10px;
    text-decoration: underline;
}

/* Timeline Item Title and Topics */
.timeline_item h4 {
    margin-bottom: 10px;
    color: #fff;
}

.timeline_item ul {
    list-style-type: square;
    margin-left: 20px;
}

.timeline_item ul li {
    margin-bottom: 8px;
    color: #ccc;
}
